body {
  font: 1.2em 'Press Start 2P', cursive !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', cursive !important;
}

.board {
  width: 558px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: 5%;
}

.tile {
  float: left;
  padding: 2px;
}

.tile-button {
  width: 58px;
  height: 58px;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  border: 0.6px solid gray;
  border-radius: 5px;
}