{% extends "base.html" %}

{% block title %}CQD | Quarter final round{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='quarter.css') }}">

<!-- Board -->
<div class="container">
    <div class="col-md-2 scoreContainer">
        <div id="team-1" class="row score" data-init="0">
            <h5>Team 1</h5>
            <h6>Score</h6>
            <p id="team-score-1">0</p>
        </div>
        <div id="team-3" class="row score" data-init="0">
            <h5>Team 3</h5>
            <h6>Score</h6>
            <p id="team-score-3">0</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="board">
            <div class="tile">
                <button id="0" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="1" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="2" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="3" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="4" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="5" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="6" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="7" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="8" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="9" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="10" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="11" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="12" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="13" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="14" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="15" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="16" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="17" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="18" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="19" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="20" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="21" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="22" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="23" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="24" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="25" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="26" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="27" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="28" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="29" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="30" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="31" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="32" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="33" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="34" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="35" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="36" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="37" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="38" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="39" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="40" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="41" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="42" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="43" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="44" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="45" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="46" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="47" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="48" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="49" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="50" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="51" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="52" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="53" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="54" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="55" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="56" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="57" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="58" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="59" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="60" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="61" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="62" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="63" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="64" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="65" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="66" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="67" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="68" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="69" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="70" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="71" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="72" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="73" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="74" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="75" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="76" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="77" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="78" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="79" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
            <div class="tile">
                <button id="80" type="button" class="btn btn-primary tile-button" onclick="setColor(event)"></button>
            </div>
        </div>
    </div>
    <div class="col-md-2 scoreContainer">
        <div id="team-2" class="row score" data-init="0">
            <h5>Team 2</h5>
            <h6>Score</h6>
            <p id="team-score-2">0</p>
        </div>
        <div id="team-4" class="row score" data-init="0">
            <h5>Team 4</h5>
            <h6>Score</h6>
            <p id="team-score-4">0</p>
        </div>
    </div>
</div>

<!-- Load content and colors -->
<div class="js" onload="initUpdate()"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="../static/quarter.js"></script>

{% endblock %}