{% extends "base.html" %}

{% block title %}CQD | Quarter final round{% endblock %}

{% macro renderScoreCard(id) %}
<div id="team-{{id}}" class="row score" data-init="0">
    <h5>Team {{id}}</h5>
    <h6>Score</h6>
    <p id="team-score-{{id}}">0</p>
</div>
{% endmacro %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='quarter.css') }}">

<!-- Board -->
<div class="container">

    <div class="col-md-2 scoreContainer">
        {{ renderScoreCard(1) }}
        {{ renderScoreCard(2) }}
    </div>

    <div class="col-md-8">
        <div class="board">
            {% for id in range(81) %}
            <div class="tile">
                <button id="{{id}}" type="button" class="btn btn-primary tile-button"
                    onclick="setColor(event)"></button>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-2 scoreContainer">
        {{ renderScoreCard(3) }}
        {{ renderScoreCard(4) }}
    </div>

</div>

<!-- Load content and colors -->
<div class="js" onload="initUpdate()"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='quarter.js') }}"></script>

{% endblock %}